@import "src/styles/mixins";

.container {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 1px solid rgba(158, 162, 173, 0.3);
}

.header {
    display: flex;
    gap: 10px;
}

.name,
.url {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.name {
    font-weight: 700;
    color: #1A2540;
}

.url {
    color: #316BFF;

    &:hover {
        text-decoration: underline;
    }
}

.action {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #434E6A;
    transition: color 150ms ease-in-out;

    a {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    path {
        fill: #9EA2AD;
        opacity: 0.3;
        transition: fill 150ms ease-in-out;
    }

    &:hover {
        color: #316BFF;

        path {
            fill: #316BFF;
            opacity: 0.6;
        }
    }
}
