@import "src/styles/mixins";

.container {
    display: flex;
    gap: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(158, 162, 173, 0.3);
}

.field {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    svg {
        pointer-events: none;
    }

    input {
        @include reset-input;
        width: 100%;
        padding: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #1A2540;

        &::placeholder {
            color: rgba(158, 162, 173, 0.3);
        }

        &:focus + .options {
            opacity: 1;
            height: auto;
            visibility: visible;
            overflow: visible;
        }
    }
}

.options {
    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 300ms ease-in-out;

    position: absolute;
    width: calc(100% + 40px);
    top: calc(100% + 17px);
    left: -40px;
    background: #FFFEFC;
    box-shadow: 0 0.6px 1.8px rgba(0, 0, 0, 0.11), 0 3.2px 7.2px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    z-index: 1;
    padding: 8px 0;
}

.option {
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    color: #1A2540;
    cursor: pointer;

    &:hover {
        background: rgba(49, 107, 255, 0.1);
        color: #434E6A;
    }
}
