.container {
    position: relative;
    width: 628px;
    margin-bottom: 32px;
}

.label {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #9EA2AD;
    margin-bottom: 4px;
}

.field {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 8px;
    border: 1px solid rgba(158, 162, 173, 0.3);
    border-radius: 4px;
    cursor: pointer;

    svg {
        pointer-events: none;
    }
}

.value {
    flex-grow: 1;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #1A2540;
}

.list {
    position: absolute;
    background-color: #FFFEFC;
    box-shadow: 0 0.6px 1.8px rgba(0, 0, 0, 0.11), 0 3.2px 7.2px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    width: 100%;
    top: calc(100% + 4px);
    left: 0;
    padding: 8px 0;
}

.item {
    padding: 8px 12px;
    cursor: pointer;
}

.active {
    composes: item;
    background-color: rgba(49, 107, 255, 0.1);
}
