@import "styles/mixins";

.container {
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #1A2540;
}

.title {
    font-weight: bold;
    margin-bottom: 16px;
}
